 .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.jumbotron {
    color: white;
    background-color: #1abc9c;
    border-radius: 0px;
}

body {
    background-image: url("bg.jpg");
    background-color: #f5f5f5;
}

.container {
  margin-left: 10px;
}

h2 {
    font-family: helvetica;
}

.fa {
  padding: 10px;
  font-size: 20px;
  max-width: fit-content;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  align-content: center;
}

.boxes{
  font-family: 'Manrope', sans-serif;
  font-variation-settings: 'wght' 600;
  padding: 20px;
  z-index: 1;
  background-color: white;
  opacity: 0.965;
  border-radius: 20px;
  margin-bottom: 3px;
  width: fit-content;
}

.ar {
  margin-left: 5px;
  border-radius: 20px
}

form {
  padding: 5px;
}

#alerta{
  display: none;
  border-radius: 20px;
}

input{
  padding: 5px;
  margin: 10px;
}

#gsearch {
  border-radius: 50%;
}

td{
  padding: 10px;
}
table{
  margin: 10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.footer {
    padding: 35px;
    color: white;
    background-color: #1abc9c;
    border-radius: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}